<div class="row">
  <div class="small-12 columns">
    <h1 id="app-title"><i class="fa fa-bar-chart"></i> Spotlight Reports</h1>
  </div>
</div>
<div ng-app="spotlightReports">
  <div class="view-container">
    <div ng-view class= "view-frame animate-view"></div>
  </div>
</div>
