<div class="row">
  <div class="small-12 columns">
    <h1>Teacher Insights</h1>
  </div>
</div>
<div ng-app="teacherInsights">
  <div class="view-container">
    <div ng-view class= "view-frame animate-view"></div>
  </div>
</div>
