<div ng-app="teacherInsights">

  <h1>Teacher Insight</h1>
  <img src="<%= @avatar_url %>">
  <h4><%= @teacher.sortable_name %></h4>
  <p>Email: <%= @email %></p>

  <p>Courses:</p>
  <div ng-init="courses = <%= @courses %>"></div>
  <ul>
    <li ng-repeat="course in courses">{{course.name}}</li>
  </ul>

</div>
