<div id="show-page" class="row">
  <div class="alert label right" ng-if="status.dataLoading">LOADING</div>
  <div class="small-12 medium-3 columns" id="side-panel">
    <img src="{{ teacherDetails.teacher.avatar_url }}">
    <h4>{{ teacherDetails.teacher.sortable_name }}</h4>
    <p>Email: {{ teacherDetails.teacher.email }}</p>


    <p>Courses:</p>
    <ul>
      <li ng-repeat="course in teacherDetails.courses">
        <INPUT type="checkbox" ng-model="course.selected">
        {{course.name}}
      </li>
    </ul>
  </div>

  <div class="small-12 medium-9 columns">
    <form>
      <div class="small-6 columns">
        <strong>Start date:</strong>
        <INPUT ng-model="start_date" type="text" id="start_date" date-picker>
      </div>

      <div class="small-6 columns">
        <strong>End date:</strong>
        <INPUT ng-model="end_date" type="text" id="end_date" date-picker>
      </div>
    </form>

    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
            <tr>
              <th ng-repeat="(statName, stat) in stats">{{stat}}</br>{{statName | uppercase}}</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>


    <div pageviews_chart="true"></div>
    <div participations_chart="true"></div>
  </div>
</div>
