<div id="show-page" class="row">

  <div class="row" ng-if="status.dataLoading">
    <div class="small-4 small-offset-4 columns warning radius label"><h4 id="data-loading">LOADING</h4></div>
  </div>

  <div class="small-12 medium-3 columns sidebar">
    <img id="profile-image" src="{{ teacherDetails.teacher.avatar_url }}">
    <p><i class="fa fa-user"></i>  <strong>{{ teacherDetails.teacher.sortable_name }}</strong></br>
    <i class="fa fa-envelope-o"></i> {{ teacherDetails.teacher.email }}</br>
    Days since last accessed Canvas: {{ teacherDetails.days_since_last_access }}</p>

    <hr>

    <p><strong>Data Aggregation</strong></p>
    <p><strong>{{ teacherDetails.coursesCount }}</strong> published courses, {{ teacherDetails.selectedCourseCount }} selected</br>
    <a href="#" data-reveal-id="courseModal"><i class="fa fa-pencil"></i> Edit Courses</a><p>
    <div id="courseModal" class="reveal-modal" data-reveal aria-labelledby="" aria-hidden="true" role="dialog">
      <h3>All Active Published Teaching Courses ({{ teacherDetails.coursesCount }})</h3>
      <p>Only courses that are active, published within Canvas, and list the user as a teacher are included in a teacher's analytics.</p>
      <p>{{ teacherDetails.selectedCourseCount }} Selected &#8226; <a href="" ng-click="deselectAllCourses()">Deselect All</a> &#8226; <a href="" ng-click="selectAllCourses()">Select All</a></p>
      <ul id="course-selection">
        <li ng-repeat="course in teacherDetails.courses">
          <INPUT type="checkbox" ng-model="course.selected">
          {{course.name}}
        </li>
      </ul>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <hr>

    <p><strong>Comparison</strong></p>
    <ul id="comparison-selection">
      <li>
        <INPUT type="checkbox" ng-model="compareToSchool"> Average of all teachers at school <span ng-if="status.comparisonLoading" class="warning radius label">LOADING</span>
      </li>
    </ul>
    <p ng-if="compareToSchool && status.comparisonLoading==false"><span style="color:#f08a24">Below 25% of average</span><br>
      <span style="color:#f04124">Below 10% of average</span></p>
  </div>

  <div class="small-12 medium-9 columns">
    <h4>
      {{ start_date | date : 'MMMM yyyy' }} to {{ end_date | date : 'MMMM yyyy' }} <small><a href="#" data-reveal-id="dateRangeModal"><i class="fa fa-pencil"></i> Edit Timeframe</a></small> <a class="button radius tiny right" href="javascript:window.print()"><i class="fa fa-print"></i> Print</a></h4>
    <div id="dateRangeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Edit Timeframe</h2>
      <form>
        <div class="small-6 columns">
          <strong>Start date:</strong>
          <INPUT ng-model="start_date" type="text" id="start_date" date-picker>
        </div>

        <div class="small-6 columns">
          <strong>End date:</strong>
          <INPUT ng-model="end_date" type="text" id="end_date" date-picker>
        </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </form>
    </div>

    <div class="row statgrid">
      <div class="small-12 columns statgrid">
        <table>
          <thead>
            <tr>
              <th ng-repeat="(statName, stat) in stats">
                <h5 ng-style="statColor['{{statName}}']"><strong>{{stat}}</strong></h5><br>
                <small class="stat-name">{{statName}}</small>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>


    <div pageviews_chart="true"></div>
    <div participations_chart="true"></div>
  </div>
</div>

<script>
  $(document).foundation();
</script>
