<div id="show-page" class="row">
  <div class="alert label right" ng-if="status.dataLoading">LOADING</div>
  <div class="small-12 medium-4 columns">
    <img id="profile-image" src="{{ teacherDetails.teacher.avatar_url }}">
    <p><i class="fa fa-user"></i>  <strong>{{ teacherDetails.teacher.sortable_name }}</strong></br>
    <i class="fa fa-envelope-o"></i> {{ teacherDetails.teacher.email }}</br>
    Days since last accessed Canvas: {{ teacherDetails.days_since_last_access }}</p>
    <hr>

    <p><strong>{{ teacherDetails.selectedCourseCount }}</strong> active, published courses</p>
    <a href="#" data-reveal-id="courseModal"><i class="fa fa-pencil"></i> Edit Courses</a>
    <div id="courseModal" class="reveal-modal" data-reveal aria-labelledby="" aria-hidden="true" role="dialog">
      <h3>All Active Published Teaching Courses ({{ teacherDetails.coursesCount }})</h3>
      <p>Only courses that are active, published within Canvas, and list the user as a teacher are included in a teacher's analytics.</p>
      <p>{{ teacherDetails.selectedCourseCount }} Selected &#8226; <a href="" ng-click="deselectAllCourses()">Deselect All</a> &#8226; <a href="" ng-click="selectAllCourses()">Select All</a></p>
      <ul id="course-selection">
        <li ng-repeat="course in teacherDetails.courses">
          <INPUT type="checkbox" ng-model="course.selected">
          {{course.name}}
        </li>
      </ul>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>

  <div class="small-12 medium-8 columns">
    <h4>{{ start_date | date : 'MMMM yyyy' }} to {{ end_date | date : 'MMMM yyyy' }} <small><a href="#" data-reveal-id="dateRangeModal"><i class="fa fa-pencil"></i> Edit Timeframe</a></small></h4>
    <div id="dateRangeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Edit Timeframe</h2>
      <form>
        <div class="small-6 columns">
          <strong>Start date:</strong>
          <INPUT ng-model="start_date" type="text" id="start_date" date-picker>
        </div>

        <div class="small-6 columns">
          <strong>End date:</strong>
          <INPUT ng-model="end_date" type="text" id="end_date" date-picker>
        </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </form>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
            <tr>
              <th ng-repeat="(statName, stat) in stats">
                <h5><strong>{{stat}}</strong></h5>
                <small class="stat-name">{{statName}}</small>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>


    <div pageviews_chart="true"></div>
    <div participations_chart="true"></div>
  </div>
</div>

<script>
  $(document).foundation();
</script>
